h1 {
    text-align: center;
    font-size: 100pt;
}

.center {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30pt;
}

a.btn_05 {
    display: block;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border-radius: 0.3rem;
    border-bottom: 7px solid #0686b2;
    background: #27acd9;
    color: #fff;
}

a.btn_05:hover {
    margin-top: 6px;
    border-bottom: 1px solid #0686b2;
    color: #fff;
}

a.btn_05.disabled {
    pointer-events: none;
    background-color: #dadada;
    color: #474747;
    border-bottom: 0px;
}

.sort {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 78px;
    height: 48px;
    margin: 40px 60px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.sort input[type=checkbox] {
    display: none;
}

.sort:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #e9e9eb;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.sort:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.sort.checked:before {
    background: #35c759;
}

.sort.checked:after {
    left: 33px;
    box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}


footer {
    position: absolute;
    /*←絶対位置*/
    bottom: 0;
    /*下に固定*/
}